.positive {
  color: rgb(27, 179, 27);
  font-weight: bold;
}

.negative {
  color: red;
  font-weight: bold;
}

/* Center the form */
div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust this if needed */
}

/* Style for the headline */
h2 {
  margin-top: 20px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif; /* Change the font family */
  color: #272626; /* Change the color */
  /* Add any other styles you want */
}

/* Style for each input container */
div > div {
  margin-bottom: 10px;
  text-align: center;
}

/* Style for labels */
label {
  display: block;
  margin-bottom: 5px;
}

/* Style for inputs */
input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Style for the button */
button {
  padding: 8px 15px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

/* Additional styles for the output messages */
/* .positive and .negative classes remain unchanged */
